            <!-- Remove the container if you want to extend the Footer to full width. -->
<!--            <div class="container my-5">-->

              <!-- Footer -->
              <footer
                      class="text-center text-lg-start text-white"
                      style="background-color: #1c2331;position:relative;bottom:0;width:100%;height:420px;"

                      >
                <!-- Section: Social -->
                <section class="d-flex justify-content-between p-4" style="background-color: #5c49cc">
                  <!-- Left -->
                  <div class="me-5">
                    <span>GET CONNECTED</span>
                  </div>
                  <!-- Left -->

                  <!-- Right -->
                  <div>
                    <a href="" class="text-white me-4">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="" class="text-white me-4">
                      <i class="fab fa-twitter"></i>
                    </a>
                    <a href="" class="text-white me-4">
                      <i class="fab fa-google"></i>
                    </a>
                    <a href="" class="text-white me-4">
                      <i class="fab fa-instagram"></i>
                    </a>
                    <a href="" class="text-white me-4">
                      <i class="fab fa-linkedin"></i>
                    </a>
                    <a href="" class="text-white me-4">
                      <i class="fab fa-github"></i>
                    </a>
                  </div>
                  <!-- Right -->
                </section>
                <!-- Section: Social media -->

                <!-- Section: Links  -->
                <section class="">
                  <div class="container text-center text-md-start mt-5">
                    <!-- Grid row -->
                    <div class="row mt-3">
                      <!-- Grid column -->
                      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold">About</h6>
                        <hr
                            class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px"
                            />
                        <p>
                          Here you can use rows and columns to organize your footer
                          content. Lorem ipsum dolor sit amet, consectetur adipisicing
                          elit.
                        </p>
                      </div>
                      <!-- Grid column -->

                      <!-- Grid column -->
                      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold">Solutions</h6>
                        <hr
                            class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px"
                            />
                        <p>
                          <a href="#!" class="text-white">Eng. Toolbox</a>
                        </p>
                        <p>
                          <a href="#!" class="text-white">Data Integration</a>
                        </p>
                        <p>
                          <a href="#!" class="text-white">Risk Assessment</a>
                        </p>
                      </div>
                      <!-- Grid column -->

                      <!-- Grid column -->
                      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold">Useful links</h6>
                        <hr
                            class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px"
                            />
                        <p>
                          <a href="#!" class="text-white">Wired</a>
                        </p>
                        <p>
                          <a href="#!" class="text-white">TechCrunch</a>
                        </p>
                        <p>
                          <a href="#!" class="text-white">SPE</a>
                        </p>
                        <p>
                          <a href="#!" class="text-white">Help</a>
                        </p>
                      </div>
                      <!-- Grid column -->

                      <!-- Grid column -->
                      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold">Contact</h6>
                        <hr
                            class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px"
                            />
                        <p><i class="fas fa-envelope mr-3"></i> <a class="text-white" href="mailto:tienphn@gmail.com" >tienphn@gmail.com</a> </p>
                        <p><i class="fas fa-home mr-3"></i> <a class="text-white" href="www.tineus.io">Tineus.io</a></p>
                      </div>
                      <!-- Grid column -->
                    </div>
                    <!-- Grid row -->
                  </div>
                </section>
                <!-- Section: Links  -->

                <!-- Copyright -->
                <div
                     class="text-center p-3"
                     style="background-color: rgba(0, 0, 0, 0.2)"
                     >
                  © 2022 Copyright:
                  <a class="text-white" href="http://pntien.com/"
                     >Tien Phan</a
                    >
                </div>
                <!-- Copyright -->
              </footer>
              <!-- Footer -->

<!--            </div>-->
<!-- End of .container -->
        </body>
        
    </html>