<% include partials/header %>

<!-- /views/postsTemplate.ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= title %> | My blog</title>
    </head>
    <body>
        <section class="text-center">
            <h2><%= title %></h2>
            <p><%= date %></p>
        </section>

        <section>
            <div class="text-left p-4"><%- postContent %></div>
        </section>


    </body>
</html>
<% include partials/footer%>